.inner-container{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--main-red);
  background-color: var(--light-gray);
  padding: 2rem;
}

.controls-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  
}

#display{
  background-color: var(--main-gray);
  width: 160px;
  border-radius: 5px;
  text-align: center;
}

.volume-control{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  background-color: var(--light-gray);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: var(--main-red);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}